<%# <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> %>

<h1 align="center">Welcome to Library Management System</h1>

<h2 align="center">Please select a user category</h2>

<h3 align="center"><%= link_to 'Admin', controller: 'admins' %></h2>
<h3 align="center"><%= link_to 'Librarian', controller: 'librarians' %></h2>
<h3 align="center"><%= link_to 'Student', controller: 'students' %></h2>


<p align="center">Created by RubyPoetsSociety</p>