<h1>Librarian </h1>

<p align="right" class="navbar-text pull-left">
  <% if librarian_signed_in? %>
    Logged in as <strong> <%= current_librarian.email %></strong>.
    <%= link_to "Logout", destroy_librarian_session_path, method: :delete, :class => 'navbar-link'  %>
  <%end %>
</p>

<% if librarian_signed_in? %>
  <%= link_to 'View Books', getlibrarybooks_path(:library_id => current_librarian.library_id) %>
<%end %>
<%= link_to 'Back', librarians_path %>
